body,
html{
    margin:0;
    padding:0;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background: black;
    text-align: center;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
canvas{
    left: 50%;
    top:50%;
    margin-left: -512px;
    margin-top: -384px;
    display: block;
    position: absolute;
/*    border: 2px solid white;*/
    opacity:0;
    max-width: 1024px;
    max-height: 768px;
    width: auto;
    height: auto;
}
.intro{
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 99999999999999999999999999999;
    opacity: 0;
    top:50%;
    margin-top: -384px;
    height: 768px;
}
.play{
    position: absolute;
    top: 73%;
    left: 50%;
    margin-left: -122px; 
    width: 244px;
    height: 81px;
    cursor: pointer;
    z-index: 99999999999999999999;
}
.player1Box,
.player2Box{
    width: 512px;
    height: 648px;
    padding-top: 120px;
    position: absolute;
    top:50%;
    left:50%;
    display: none;
    opacity:0;
    background: rgba(0,0,0,0.7);
    z-index: 99999;
    margin-top: -384px;
}
.player1Box{
    margin-left: -512px;
}
.fade{
    width: 1024px;
    height: 768px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background: black;
    opacity: 0;
    margin-left: -512px;
    margin-top: -384px;
    z-index: 9999;
}



